/* Fondo dividido estilo carrusel */
.background-carousel {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-half {
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  filter: brightness(0.7); /* Opacidad gris */
}

.left {
  border-right: 2px solid rgba(13, 12, 12, 0.2); /* Línea divisoria */
}

.right {
  border-left: 2px solid rgba(13, 12, 12, 0.2);
}

.login-container-principal {
  scrollbar-width: none; /* Para Firefox */
}

.login-container-principal::-webkit-scrollbar {
  display: none; /* Para Chrome, Edge y Safari */
}

/* Contenedor del formulario */
.login-container-principal {
  position: absolute;
  max-height: 100vh; /* Limita la altura al 80% de la pantalla */
  overflow-y: auto;  /* Activa el scroll vertical */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Ajustable para pantallas pequeñas */
  max-width: 600px;
}

/* Formulario */
.login-form-principal {
  max-width: 100vh;
  background: linear-gradient(180deg, #001225, #170012);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-align: center;
}

@media (max-width: 600px) {
  .login-form-principal {
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    max-width: 100%; /* No se desborda */
    min-height: 90vh; /* Asegura que ocupe toda la pantalla */
    border-radius: 0; /* Elimina bordes redondeados en móviles */
    padding: 15px; /* Reduce padding para evitar cortes */
  }
}


