.administrar-barberos-container {
    padding: 20px;
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .btn-crear {
    padding: 10px 20px;
    background-color: #010407;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .barberos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .barbero-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 200px;
  }
  
  .barbero-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .btn-eliminar {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  