.ver-reservas-container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  .button-rounded {
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    color: white; /* Color del texto */
    background: linear-gradient(45deg, #054ccf, #24baed); /* Degradado azul */
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .button-rounded:hover {
    background: linear-gradient(45deg, #074a97, #0a2f67); /* Degradado azul */
    color: #fefefe; /* Cambiar el color del texto */
    transform: scale(1.02); /* Escala ligeramente al hacer hover */
  }

  /* Contenedor de los horarios disponibles */
.horarios-disponibles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}



/* Botones de horario */
.horario-boton {
  background-color: transparent;
  border: 2px solid #009dff; /* Color del borde */
  color: #e7edf3; /* Color del texto */
  padding: 10px 20px;
  border-radius: 20px; /* Hace los botones ovalados */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  min-width: 80px; /* Tamaño mínimo para pantallas pequeñas */
}

/* Efecto hover para el botón */
.horario-boton:hover {
  background-color: #171617;
  color: rgb(255, 255, 255);
}

/* Responsivo: ajustar tamaño en pantallas pequeñas */
@media (max-width: 480px) {
  .horario-boton {
    font-size: 12px;
    padding: 8px 16px;
  }
}

.botonZ {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  border-width: 2px;
}

.boton-verde {
  border: 2px solid #03173a;
  color: #dae6dd;
}

.boton-verde:hover {
  background-color: transparent;
  color: rgb(2, 67, 27);
}

.boton-naranja {
  border: 2px solid #3d3628;
  color: #f9fbe5;
}

.boton-naranja:hover {
  background-color: transparent;
  color: rgb(240, 236, 227);
}

.boton-rojo {
  border: 2px solid #90030f;
  color: #721821;
}

.boton-rojo:hover {
  background-color: #960e1b;
  color: rgb(235, 215, 215);
}


  
  .botones-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .fecha-selector {
    padding: 5px;
  }
  
  .reservas-list {
    margin-top: 20px;
    color: white;
  }
  
  .bungee-inline-regular {
    font-family: "Bungee Inline", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .reserva-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
  }

  .cierre-caja-container {
    margin-top: 30px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
  }
  
  .cierre-caja-container h3 {
    margin-bottom: 10px;
  }
  
  .nuevo-gasto-form {
    margin-top: 20px;
    max-width: 30%;
  }
  
  .nuevo-gasto-form input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .nuevo-gasto-form button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .gastos-container {
    margin-top: 20px;
    padding: 10px;
  }
  
  .gastos-container h3 {
    margin-bottom: 10px;
  }
  
  .gastos-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .gastos-container li {
    margin-bottom: 10px;
  }

  .abel-regular {
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
  }

  .boton-horarios {
    background: transparent;
    color: #fff;
    border: 2px solid #024685;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  
  /* Efecto de giro al pasar el mouse */
  .boton-horarios:hover {
    background: rgba(235, 230, 230, 0.1);
    color: #73abcd;
  }
  
  /* Deshabilitado */
  .boton-horarios:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #ccc;
    color: #ccc;
  }
  
  
  
  