.ver-reservas-container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  .button-rounded {
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    color: white; /* Color del texto */
    background: linear-gradient(45deg, #054ccf, #24baed); /* Degradado azul */
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .button-rounded:hover {
    background: linear-gradient(45deg, #074a97, #0a2f67); /* Degradado azul */
    color: #fefefe; /* Cambiar el color del texto */
    transform: scale(1.02); /* Escala ligeramente al hacer hover */
  }

  /* Contenedor de los horarios disponibles */
.horarios-disponibles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}



/* Botones de horario */
.horario-boton {
  background-color: transparent;
  border: 2px solid #007bff; /* Color del borde */
  color: #e7edf3; /* Color del texto */
  padding: 10px 20px;
  border-radius: 20px; /* Hace los botones ovalados */
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  min-width: 80px; /* Tamaño mínimo para pantallas pequeñas */
}

/* Efecto hover para el botón */
.horario-boton:hover {
  background-color: #032864;
  color: rgb(250, 249, 249);
}

/* Responsivo: ajustar tamaño en pantallas pequeñas */
@media (max-width: 480px) {
  .horario-boton {
    font-size: 12px;
    padding: 8px 16px;
  }
}

  
  .botones-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .fecha-selector {
    padding: 5px;
  }
  
  .reservas-list {
    margin-top: 20px;
    color: white;
  }
  
  .bungee-inline-regular {
    font-family: "Bungee Inline", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .reserva-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
  }

  .cierre-caja-container {
    margin-top: 30px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
  }
  
  .cierre-caja-container h3 {
    margin-bottom: 10px;
  }
  
  .nuevo-gasto-form {
    margin-top: 20px;
    max-width: 30%;
  }
  
  .nuevo-gasto-form input {
    margin-right: 10px;
    padding: 5px;
  }
  
  .nuevo-gasto-form button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .gastos-container {
    margin-top: 20px;
    padding: 10px;
  }
  
  .gastos-container h3 {
    margin-bottom: 10px;
  }
  
  .gastos-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .gastos-container li {
    margin-bottom: 10px;
  }

  .abel-regular {
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  