.admin-reservas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }

  .button-rounded {
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de texto */
    color: white; /* Color del texto */
    background: linear-gradient(45deg, #054ccf, #24baed); /* Degradado azul */
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .button-rounded:hover {
    background: linear-gradient(45deg, #074a97, #0a2f67); /* Degradado azul */
    color: #fefefe; /* Cambiar el color del texto */
    transform: scale(1.02); /* Escala ligeramente al hacer hover */
  }
  
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .logout-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545;
  }
  
  .logout-button:hover {
    background-color: #a71d2a;
  }
  