.cortes-y-cortesias-container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .corte-item,
  .cortesia-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: white;
  }
  
  button {
    margin-left: 10px;
  }

  .cortes-y-cortesias-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .btn-atras, .btn-agregar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-agregar:hover {
    background-color: #0056b3;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  input {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .item p {
    margin: 0;
    font-size: 16px;
  }
  
  button {
    margin-left: 10px;
  }
  
  